# Configuration file

general {
    #  [default: [Ljava.lang.String;@376b700a]
    S:currencyItems <
        minecraft:emerald

     >

    #  [default: true]
    B:loadTradesFromJar=true

    #  [default: true]
    B:loadVillagersFromJar=true

    #  [default: true]
    B:sortTrades=true
}


